<% if @person.errors.any? %>
	<h5> <%= pluralize(@person.errors.count, 'Error', 'Errors') %> Creating Person </h5>
	<ul>
	<% @person.errors.full_messages.each do |message| %>
		<li> <%= message %> </li>
	</ul>
	<% end %>
<% end %>

<%= form_for @person do |f| %>
	<%= f.label :name %>:
	<%= f.text_field :name, required: true %>
	<br>
	
	<%= f.label :age %>:
	<%= f.text_field :age %>
	<br>
	
	<%= f.label :gender %>:
	<%= f.text_field :gender %>
	<br>
	
	<%= f.label :alive %>:
	<%= f.radio_button :alive, true %> Yes
	<%= f.radio_button :alive, false %> No
	<br>
	
	<%= f.submit 'Submit' %>
<% end %>