<h1> <%= @animal.name %> </h1>
<hr>
<h3> Belongs to <%= @person.name %> </h3>

<div>
		<h4>Species: <%= @animal.species %></h4>

	<% if @animal.age %>
		<h4>Age: <%= @animal.age %></h4>
	<% end %>

	<h4>Alive: <%= @animal.alive ? 'Yes' : 'No' %></h4>
</div>

<hr><br>

<%= link_to "<< Back To #{@person.name}'s Animals", person_animals_path(@person) %>